  <article class="listing">
  <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}" style="text-align:center;">
    <img src="http://lorempixel.com/250/150/" alt="">
    <Br>
    <small>View Larger</small>
  </a>
</article>


{{yield}}
