<nav style="float:right;display:block;">
  <ul style="float:left">
    <li>{{link-to "Who are we" 'aboutus'}}</li>
    <li>{{link-to "Contact us" 'contactus'}}</li>
    <li>{{link-to "My Account" 'account'}}</li>
  </ul>
</nav>